.title{
    font-size: 30px;
    font-weight: 700;
    color: $near-black;
    text-align: center;
    text-transform: uppercase;
    &_left{
        color: $white;
        text-align: left;
        font-size: 36px;
    }
}